* {
	 box-sizing: border-box;
}

html {
	background-color: #222;
	color: white;
  text-align: center;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
	gap: 1rem;
	padding: 0 1rem;
	margin-bottom: 3rem;
}

.container.landscape {
	flex-direction: row;
}

.container.portrait {
	flex-direction: column;
}

.container.portrait > .column > textarea {
	height: 35vh;
}

textarea {
	width: 50vw;
	height: 100%;
	border: 3px solid #00aafd;
	border-radius: 4px;
	padding: 0 1rem;
}

.markdownContainer {
	text-align: initial;
	border: 2px solid #111;
	border-radius: 5px;
	margin: 0 auto;
	padding: 0.5rem 4rem 1rem;
	background-color: white;
	color: #111;
	max-width: 1000px;
}

img {
	max-width: 100%;
}

table {
  background-color: #222;
}

thead {
  color: white;
}

tbody {
  background-color: white;
}

th, td {
  padding: 0.5rem;
}

code {
	background-color: #333;
	color: white;
	padding: 0.25rem 0.5rem;
	margin: 0 0.25rem;
}

pre {
  background-color: #333;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(4px 4px 0 #00aafd);
}

pre code { 
	padding: 0;
	margin: 0;
}

blockquote {
	margin: 1rem;
	border-left: 0.25rem solid #00aafd;
	padding: 0.5rem;
	background-color: #eee;
}

button { 
	border: 1px solid white;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	background-color: white;
	color: #222;
	font-size: 1rem;
}

button:hover {
	color: white;
	background-color: #333;
}

button:focus {
	color: white;
	background-color: #111;
}

a {
  color: #00aafd;
}

a:hover {
  color: black;
}

a:focus, a:visited {
	color: #00537b;
}
